"""""""""""""""""""""""
" roughly equal to nvim
"""""""""""""""""""""""
set surround
set highlightedyank
set easymotion

" use system clipboard
set clipboard+=unnamed
" highlight matches
set hlsearch
" incremental searching
set incsearch
" searches are case insensitive
set ignorecase
" searches are case sensative only when term has at least one capital
set smartcase
" show line numbers
set number
set relativenumber
" display incomplete commands
set showcmd
" display incomplete commands
set showmode
" keep context on scrolling
set scrolloff=5

"""""""""""""""""""""""
" MAPPINGS
"""""""""""""""""""""""
" https://vim.fandom.com/wiki/Make_search_results_appear_in_the_middle_of_the_screen
nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz
nnoremap # #zz
nnoremap g* g*zz
nnoremap g# g#zz

" copy from cursor to end of line
nnoremap Y y$

" Smart way to move between windows
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l

" clear highlights on search
nnoremap <CR> :noh<CR>

" move by line for long lines
nnoremap j gj
nnoremap k gk

" Run last macro with Q
nnoremap Q @@

" don't lose selection when indenting
vnoremap < <gv
vnoremap > >gv
vnoremap = =gv

" With a map leader it's possible to do extra key combinations
" " like <leader>w saves the current file
let mapleader = " "

" insert line below cursor
nnoremap <leader>oj o<esc>
" insert line above cursor
nnoremap <leader>ok O<esc>

" Jump to anywhere you want with minimal keystrokes, with just one key binding.
" `ss{char}{label}`
nnoremap <Leader>ss <Plug>(easymotion-f)

"""""""""""""""""""""""
" Ideavim specific
"""""""""""""""""""""""
set ideastatusicon=gray
set ideamarks

" emulate part of tpope/vim-vinegar
map - <Action>(ShowNavBar)

" https://youtrack.jetbrains.com/issue/VIM-2169
" jump betwen 2 last buffers
nnoremap <leader><leader> <c-s-6>

" use similar bindings as for nvim
map <leader>tu <Action>(LocalHistory.ShowHistory)
map <leader>tf <Action>(ToggleDistractionFreeMode)

map <leader>sm <Action>(ShowBookmarks)
map <leader>sf <Action>(GotoFile)
map <leader>sh <Action>(RecentFiles)
map <Leader>sr <Action>(FindInPath)
map <leader>sc <Action>(Vcs.ShowTabbedFileHistory)

" hotkeys for frequent  actions
map <leader>su <Action>(FindUsages)

map <leader>ff <Action>(ShowIntentionActions)
map <leader>fd <Action>(ShowErrorDescription)

map <leader>re <Action>(RenameElement)
map <leader>rr <Action>(Run)
map <leader>dd <Action>(Debug)
map <leader>bb <Action>(ToggleLineBreakpoint)
map <leader>aa <Action>(Annotate)

" use idea's back forward instead of vim emulated
map <c-o> <Action>(Back)
map <c-i> <Action>(Forward)

map <leader>q <Action>(CloseContent)
map <leader>w <Action>(Tool_External Tools_black)
