[user]
    name = Dobrovolsky Bogdan
    email = bogdan.gm24@gmail.com

[core]
    excludesfile = ~/.gitignore
    editor = nvim
    pager = diff-so-fancy | less --tabs=4 -RFX

[color]
    ui = true
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
    commit = yellow bold
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 124
    newNormal = green bold
    newHighlight = green bold 112
[alias]
    squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
