" load default mapping
source ~/.vimrc

" enable ideavim plugins
set surround
set highlightedyank

:map <leader>f :action ShowIntentionActions<CR>
:map <leader>p :action Tool_External Tools_black<CR>

