{
  :templates {
    :launch-app "open -a '%s'"
    :code-project "open -a 'Visual Studio Code' %s"
    ; wait on https://youtrack.jetbrains.com/issue/IDEA-250241 or https://youtrack.jetbrains.com/issue/IDEA-247313
    ; :charm-project "open -a 'Pycharm' %s"
    ; :charm-project "/usr/local/bin/charm %s"
    :open "open %s"
  }
  :applications {
    :iterm ["^com\\.googlecode\\.iterm2$"]
  }
  :input-sources {
    :us {:input_source_id "com.apple.keylayout.US"}
    :ru {:input_source_id "com.apple.keylayout.Russian"}
    :ua {:input_source_id "com.apple.keylayout.Ukrainian-PC"}
  }
  :tos {
    :select-us {:input :us}
    :select-ru {:input :ru}
    :select-ua {:input :ua}
    :toggle-theme {:shell "osascript -e 'tell application \"System Events\"' -e 'tell appearance preferences' -e 'set dark mode to not dark mode' -e 'end tell' -e 'end tell'"}
  } 
  :layers {
    :modal-mode {:key :delete_or_backspace :alone {:key :vk_none}}
  }
  :simlayers {
    :w-mode {:key :w}
    :q-mode {:key :q}
    :z-mode {:key :z}
  }
  ; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md
  ;; !  | means mandatory
  ;; #  | means optional
  ;; C  | left_command
  ;; T  | left_control
  ;; O  | left_option
  ;; S  | left_shift
  ;; F  | fn
  ;; Q  | right_command
  ;; W  | right_control
  ;; E  | right_option
  ;; R  | right_shift
  ;; !! | mandatory command + control + optional + shift (hyper)
  ;; ## | optional any
  
  :main [
    {:des "Use caps_lock for activationg modal_mode (hold) and escape for pressig twice"
      :rules [
        [:##caps_lock [:escape ["esc" 0]] ["esc" 1]]
        [:##caps_lock ["esc" 1] nil {
          :delayed {:invoked ["esc" 0] :canceled ["esc" 0]} 
          :held ["modal-mode" 1] 
          :afterup ["modal-mode" 0] 
          :params {:held 10}
        }]
      ]} 
    {:des "modal-mode + key"
      :rules [
        :modal-mode
        [:1 :select-us]
        [:2 :select-ru]
        [:3 :select-ua]
        [:4 [:toggle-theme]]
        [:5 [:!CTOSf11 :!CTOSf12]] ; track time with toggl and use focus
        ; emulate control shell and vim
        [:a :!Ta]
        [:e :!Te]
        [:c :!Tc]
        [:d :!Td]
        [:z :!Tz]
        [:r :!Tr]
        [:t :!Tt]
        [:w :!Tw]
        [:f :!Tf]
        [:b :!Tb]
        [:y :!Ty]
        [:u :!Tu]
        [:i :!Tl]
        ; delete button is too far away
        [:o :delete_or_backspace]
        [:!So :delete_forward]
        ; arrows
        [:h :left_arrow]
        [:j :down_arrow]
        [:k :up_arrow]
        [:l :right_arrow]
        [:!Co :!To]
        ; enable control + arrows
        [:!Cl :!Tl]
        [:!Ck :!Tk]
        [:!Cj :!Tj]
        [:!Ch :!Th]
        [:return_or_enter :!TOreturn_or_enter] ; maximize window with ractangel
      ]}
    {:des "Iterm to tmux mapping"
      :rules [
        :iterm
        [:!CSd [:!Tb :hyphen]]
        [:!Cd [:!Tb :backslash]]
        [:!Ct [:!Tb :c]]
        [:!Cn [:!Tb :n]]
        [:b :!Tb [:modal_mode]]
      ]}
    {:des "Build new habbit by changing default behavior"
      :rules [
        ; window manipulation with ractangel
        [:left_arrow :!TOleft_arrow]
        [:down_arrow :!TOdown_arrow]
        [:up_arrow :!TOup_arrow]
        [:right_arrow :!TOright_arrow]
        ; disable keys
        [:delete_or_backspace :vk_none]
        [:escape :vk_none]
      ]}
    {:des "Quit application only when tapping command-q twice"
      :rules [
        [:!Cq [:!Cq ["command-q" 0]] ["command-q" 1]]
        [:!Cq ["command-q" 1] nil {:delayed {:invoked ["command-q" 0] :canceled ["command-q" 0]}}]
    ]}
    {:des "w-mode"
      :rules [
        :w-mode
        [:u [:launch-app "Bitwarden"]]
        [:i [:launch-app "Pycharm"]]
        [:o [:launch-app "Iterm"]]
        [:p [:launch-app "Google Chrome"]]
        [:j [:launch-app "Brave Browser"]]
        [:k [:launch-app "Spotify"]]
        [:l [:launch-app "Telegram"]]
    ]}
    {:des "q-mode"
      :rules [
        :q-mode
        [:j [:code-project "~/kb"]]
        [:k "open obsidian://vault/kb"]
        [:l [:code-project "~/dotfiles"]]
        ; [:l [:charm-project "~/projects/ref/jupyter-notebook"]]
        ; [:semicolon [:charm-project "~/projects/ref/jupyterhub-fork"]]
        [:u [:open "https://www.notion.so/e398ce19ebc8457c8bbd8187cc9f46e4?v=75cddc846deb4e449e5cb91e8bb6470b"]]
        [:i [:open "https://docs.google.com/spreadsheets/d/1lya8s1rvHx5AkheZU3eYrgD7irRkJK0NuIsVA-mKeoY/edit#gid=358988098"]]
        [:o [:open "https://10fastfingers.com/top1000/english/sc-20/"]]
    ]}
    {:des "z-mode"
      :rules [
        :z-mode
        [:u [:c :o :n :s :o :l :e :period :l :o :g :!S9 :!S0 :left_arrow] [:!ua :!ru]] ; console.log()
        [:i [:t :h :i :s :period] [:!ua :!ru]] ; -> this.
        [:j [:p :r :i :n :t :!S9 :!S0 :left_arrow] [:!ua :!ru]] ; -> print()
        [:k [:s :e :l :f :period] [:!ua :!ru]] ; -> self.
        [:spacebar [:r :e :t :u :r :n :spacebar] [:!ua :!ru]] ; -> return 
        [:m [:b :o :g :d :a :n :period :g :m :2 :4 :!S2 :g :m :a :i :l :period :c :o :m] [:!ua :!ru]] ; -> bogdan.gm24@gmail.com   
    ]}
    {:des "make ru similar to en"
      :rules [
        :ru
        [:grave_accent_and_tilde :!TOgrave_accent_and_tilde]
        [:open_bracket :!Sgrave_accent_and_tilde :modal-mode]
        [:!Sopen_bracket :!O9 :modal-mode]
        [:close_bracket :grave_accent_and_tilde :modal-mode]
        [:!Sclose_bracket :!O0 :modal-mode]
        [:semicolon :!S5 :modal-mode]
        [:!Ssemicolon :!S8 :modal-mode]
        [:quote :!OS2 :modal-mode]
        [:!Squote :!OS9 :modal-mode]
        [:comma :!TOcomma :modal-mode]
        [:!Scomma [:select-us :!Scomma :select-ru] :modal-mode]
        [:period :!TOperiod :modal-mode]
        [:!Speriod [:select-us :!Speriod :select-ru] :modal-mode]
        [:!S2 :!O2]
        [:!S3 :!O3]
        [:!S4 :!O4]
        [:!S5 :!O5]
        [:!S6 :!O6]
        [:!S7 :!O7]
        [:!S8 :!O8]
    ]}
    {:des "make ua similar to en"
      :rules [
        :ua
        [:grave_accent_and_tilde :!TOgrave_accent_and_tilde]
        [:#Sopen_bracket :!TO#Sopen_bracket :modal-mode]
        [:#Sclose_bracket :!TO#Sclose_bracket :modal-mode]
        [:semicolon :!TOSsemicolon :modal-mode]
        [:!Ssemicolon :!TOsemicolon :modal-mode]
        [:quote :!TOSquote :modal-mode]
        [:!Squote :!TOquote :modal-mode]
        [:#Scomma :!TO#Scomma :modal-mode]
        [:#Speriod :!TO#Speriod :modal-mode]
        [:#Sslash :!TO#Sslash] 
        [:!S2 :!O2]
        [:!S3 :!O3]
        [:!S4 :!O4]
        [:!S5 :!O5]
        [:!S6 :!O6]
        [:!S7 :!O7]
        [:!S8 :!O8]
    ]}
    {:des "swap : ; and ' \" "
      :rules [
        [:semicolon :!Ssemicolon [:!ua :!ru]]
        [:!Ssemicolon :semicolon [:!ua :!ru]]
        [:quote :!Squote [:!ua :!ru]]
        [:!Squote :quote [:!ua :!ru]]
    ]}
  ]
}