{
  :templates {
    :launch_app "open -a %s"
  }
  :applications {
    :iterm ["^com\\.googlecode\\.iterm2$"]
  }
  :input-sources {
    :us {:input_source_id "com.apple.keylayout.US"}
    :ru {:input_source_id "com.apple.keylayout.Russian"}
    :ua {:input_source_id "com.apple.keylayout.Ukrainian-PC"}
  }
  :tos {
    :select_us {:input :us}
    :select_ru {:input :ru}
    :select_ua {:input :ua}
    :toggle_theme {:shell "osascript -e 'tell application \"System Events\"' -e 'tell appearance preferences' -e 'set dark mode to not dark mode' -e 'end tell' -e 'end tell'"}
  } 

  ; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md
  ;; !  | means mandatory
  ;; #  | means optional
  ;; C  | left_command
  ;; T  | left_control
  ;; O  | left_option
  ;; S  | left_shift
  ;; F  | fn
  ;; Q  | right_command
  ;; W  | right_control
  ;; E  | right_option
  ;; R  | right_shift
  ;; !! | mandatory command + control + optional + shift (hyper)
  ;; ## | optional any

  :main [
    {:des "Use caps_lock for activationg modal_mode (hold) and escape for pressig twice"
      :rules [
        [:caps_lock [:escape ["esc" 0]] ["esc" 1]]
        [:caps_lock ["esc" 1] nil {
          :delayed {:invoked ["esc" 0] :canceled ["esc" 0]} 
          :held ["modal_mode" 1] 
          :afterup ["modal_mode" 0] 
          :params {:held 10}
        }]
      ]} 
    {:des "modal_mode + key"
      :rules [
        :modal_mode
        [:1 :select_us]
        [:2 :select_ru]
        [:3 :select_ua]
        [:!C1 [:toggle_theme]]
        [:!C2 [:launch_app "Spotify"]]
        [:!C3 [:launch_app "Telegram"]]
        [:4 [:launch_app "Brave\\ Browser"]]
        [:5 [:launch_app "Iterm"]]
        [:6 [:launch_app "Pycharm"]]
        [:7 [:launch_app "Visual\\ Studio\\ Code"]]
        ; emulate control in terminal
        [:a :!Ta]
        [:e :!Te]
        [:c :!Tc]
        [:d :!Td]
        [:z :!Tz]
        [:semicolon :!Tl]
        [:r :!Tr]
        [:t :!Tt]
        [:q :!Tf2] ; show menu bar
        [:grave_accent_and_tilde :!CTOSf12] ; track time with toggl
        ; arrows
        [:#Ch :left_arrow]
        [:#Cj :down_arrow]
        [:#Ck :up_arrow]
        [:#Cl :right_arrow]
        ; delete button is too far away
        [:o :delete_or_backspace]
        [:p :delete_forward]
        [:return_or_enter :!TOreturn_or_enter] ; maximize window with ractangel
      ]}
    {:des "Iterm to tmux mapping"
      :rules [
        :iterm
        [:!CSd [:!Tb :hyphen]]
        [:!Cd [:!Tb :backslash]]
        [:!Ct [:!Tb :c]]
        [:!Cn [:!Tb :n]]
        [:b :!Tb [:modal_mode]]
      ]}
    {:des "Build new habbit by changing default behavior"
      :rules [
        ; window manipulation with ractangel
        [:left_arrow :!TOleft_arrow]
        [:down_arrow :!TOdown_arrow]
        [:up_arrow :!TOup_arrow]
        [:right_arrow :!TOright_arrow]
        ; disable keys
        [:delete_or_backspace :vk_none]
        [:escape :vk_none]
      ]}
    {:des "Quit application only when tapping command-q twice"
      :rules [
        [:!Cq [:!Cq ["command-q" 0]] ["command-q" 1]]
        [:!Cq ["command-q" 1] nil {:delayed {:invoked ["command-q" 0] :canceled ["command-q" 0]}}]
      ]}
  ]
}